.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 800;
}

@media screen and (max-width: 320px) {
  .place__title {
    padding: 0 16px 0;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}