.cover__subtitle {
  color: white;
  vertical-align: top;
  max-width: 360px;
  bottom: 195px;
  margin: 32px 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  z-index: 2;
}

@media screen and (max-width: 400px) {
  .cover__subtitle  {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle  {
    margin: 16px 0 0;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}