.footer__navigation {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .footer__navigation {
    padding-left: 16px;
  }
}